@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10PX;
}

.LOGO img {
    width: 150px;
    height: auto;
}

.center_nav {
    display: flex;
}

.search {
    display: flex;
}

.search input {
    min-width: 600px;
    padding: 10px 20px;
    border: .5px solid grey;
}

.search button {
    border: none;
    padding: 10px 20px;
    
}

.mic {
    padding: 15px;
    border-radius: 50%;
    background: gray;
    display: grid;
    place-items: center;
    margin-left: 20px ;

}

.mic img {
    width: 30px;
}

.side_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}

.tags {
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    border-top: 1px solid grey;


}

.tag {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid grey;
}

.dark {
    background: black;
    color: white;
}

.light {
    background: white;
    color: rgb(67, 67, 67);
}

.container {
    display: flex;

}

aside {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.side_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.side_icons img {
    width: 30px;

}

.side_icons p {
    font-size: 10px;
    margin-top: -5px;
}

.bars {
    margin-top: 20px;
}

.main_container {
    width: 100%;
}

main {
    min-height: 100vh;
    background: rgb(240, 238, 238);

}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

.card {
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.avatar_content {
    padding-top: 10px;
    display: flex;
    gap: 5px;
}

.card h3 {
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channel_name {
    font-size: 16px;
    font-weight: bold;
}

.content_status {
    display: flex;
    font-size: 14px;
    gap: 10px;
}